.main-card-class{
    background-color: #102A43;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    justify-content: space-between;
    margin: 15px 14px;
    box-shadow: 5px 0px 40px 5px black;
    border-radius: 12px;
}
.main-card-class.dark{
    background-color: #102A43;
}
.main-card-class.light{
    background-color: #385b7c;
}
.main-card-class:hover {
    background-color: #293a4b;
    transform: scale(1.1);
}
.icon-class{
    display: flex;
    justify-content: center;   
}
.tital-class{
    /* justify-content: center; */
    width: 350px;
    font-size: 30px;
    font-style: bold;
    color: #ffffff;
}
.desc-class{
    font-size: 15px;
    color: #cfcfcf;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    display: flex;
    justify-content: end;
    gap:5px;
}
.btnedt:hover{
    background-color: #37b1be;
    transform: translateY(-2px);
}

.btnedt{
    background-color: #00E5FF;
    border-radius: 7px;
    height: 34px;
    width: 60px;
    border: 1px  solid #0e4ab9;
    color: #0A192F;
  
}
.btncls:hover{
    background-color: #37b1be;
    transform: translateY(-2px);
}
.btncls{
    background-color: #00E5FF   ;
    border-radius: 7px;
    height: 34px;
    width: 60px;
    border: 1px solid #0e4ab9;
    color: #0A192F;
}
