/* Overlay */
.main-post-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Modal Form */
.main-post-form-class {
    background:linear-gradient(to right, #142744, #102A43, #00B4D8 );
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
   
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 30px;
}

/* Heading */
.heding-post-class {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

/* Field wrapper */
.filed-post-main-class {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Input & Select (Same size) */
.post-filed-class input {
    width: 100%;
    height: 45px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
}

/* Focus effect */
.post-filed-class input:focus {
    border-color: #007bff;
}

/* Dropdown wrapper */
.option-class select{
    height: 50px;
    width: 100%;
    display: flex; 
    border-radius: 8px;
    justify-content: center;
    
}

/* Error message */
.error-class {
    color: #e01414;
    font-size: 20px;
    margin-top: 4px;
}

/* Buttons wrapper */
.btn-post-class {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Cancel Button */
.btn-csl-class {
    flex: 1;
    height: 45px;
    background-color: #00E5FF;
    color: #0A192F;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

/* Submit Button */
.btn-submit-class {
    flex: 1;
    height: 45px;
    background-color: #00E5FF;
    color: #0A192F;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;   
}