.nav-main-class{
    width: 100%;
    height: 100px;
    background-color: linear-gradient(
        to right,
        #0A192F,
        #102A43,
        #00B4D8
      );
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav-dark{
    background: linear-gradient(
        to right,
        #0A192F,
        #102A43,
        #00B4D8
      );
}
.nav-light{
    background: linear-gradient(
        to right,
        #3d557a,
        #6186ac,
        #a1c9d4
      );
}
.logo-class{
    color: azure;
    padding: 30px;
    font-size: 28px;
}
.menu-class{ 
    font-size: 25px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.menu-class ul{
    display: flex;
    list-style: none;
    gap: 20px;
} 
.menu-class li:hover {
    color: cornsilk;
    transform: scale(1.1);
}
.them-class{
    display: flex;
    list-style: none;
    font-size: 25px;
    margin-right: 30px;
    color: white;
    gap: 20px;
}
p{
    display: flex;
    list-style: none;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 10px;
    color: white;
}
.active-link{
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.role-class{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
