.post-class{
    background-color: #102A43;
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 0px 40px 5px black;
    border-radius: 12px;
    margin: 50px auto;
}
.post-image-class{
    display: flex; 
    align-items: center;
    margin: auto;
   
}
.post-Desc-class{
    height: 60vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.post-tital-class{
    display: flex;
    flex-direction: column;
    font-size: 50px;
}
.post-desc-class{
    font-size: 20px;
}
.post-btn-class{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10px;
}
.post-btnet-class{
    font-size: 20px;
    text-align: center;
    border: solid black 2px;
    height: 30px;
    width: 70px;
    background-color: aqua;
}
.post-btndlt-class{
    font-size: 20px;
    text-align: center;
    border: solid black 2px;
    height: 30px;
    width: 70px;
    background-color: aqua;
}